<a href="https://colab.research.google.com/github/Rashid1382/pdasummer2022/blob/main/Class01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tup01 = (2, 4, 8, 16, 32)
tup01 [1] < tup01 [3]
print (tup01 [1])
print (tup01)

4
(2, 4, 8, 16, 32)

In [ ]:
def prism_area (x, y, z):
  sqm1 = x * y
  sqm2 = x * z
  sqm3 = y * z 
  return 2 * (sqm1 + sqm2 + sqm3)
print (prism_area (5, 6, 7))

214

In [ ]:
count = 20
smnum = 1

while count != 0:
  count = 0
  for num in range (1, 21):
       if smnum % num != 0:
           count += 1
  smnum += 1
print(snnum)

In [ ]:
def encrypt(msg, shift):
  alpha_key = 'a, b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z'
  end_msg = ''

  for char in msg
ltrshift = 7
mynewlist = ['0+3'], ['z+3']

print (mynewlist)

(['0+3'], ['z+3'])

In [ ]:
def snake_game(n):

snake_len = 1
meal = 0
  while snake_len <= (n+1):
    snake_len *=2
  print(snake_len)
print (snake_game(3))
  meal +=1
  return meal

In [ ]:
myset = {1,2,3}
myset.add(4)
print (myset)
myset.discard(2)
print (myset)
myset.clear ()
print (myset)

{1, 2, 3, 4}
{1, 3, 4}
set()

In [ ]:
def myset (my_range):
  altset = set(my_range[::2])
  return altset
print(list(range(1,30,3)))
print(myset(range(1,30,3)))

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28]
{1, 7, 13, 19, 25}

In [ ]:
jondict = {'Allah': 'God', 'salam': 'peace', 'masjid': 'house', 'jihad': 'war', 'abu': 'son of'}
for j in jondict:
  print (j, ':', jondict[j])

Allah : God
salam : peace
masjid : house
jihad : war
abu : son of

In [ ]:
mydict = {}
mylist = [5,1,8,0,9,8,1,3,8,2]
for item in mylist:
  if item not in mydict:
    mydict[item]=1
  elif item in mydict:
    mydict[item]+=1
print(mydict)

{5: 1, 1: 2, 8: 3, 0: 1, 9: 1, 3: 1, 2: 1}

In [ ]:
my_dict = {'ant':'insect', 'anchor':'weight', 'camera':'picture'}
my_dict2 = sorted(my_dict.items())
print(my_dict2)

[('anchor', 'weight'), ('ant', 'insect'), ('camera', 'picture')]

In [ ]:
d1={'1':'Hello', '3':'Name'}
d2={'1':'Bye', '2':'Pickles'}
for key in d1:
  if key in d2:
    d2[key] += d1[key]
  else:
    d2[key] = d1[key]
print(d2)

{'1': 'ByeHello', '2': 'Pickles', '3': 'Name'}

In [ ]:
import pandas as pd

In [ ]:
mycars = {'Maker':['Audi', 'Mercedes', 'Chevy', 'Ford'], 'Year':[2020, 2015, 2022, 2021], 'Make':[5000, 'E320','Tahoe','Mustang'], 'Color':['Black','Grey','Red','Blue']}
mycardf = pd.DataFrame(mycars)
print(mycars)
print(mycardf)

{'Maker': ['Audi', 'Mercedes', 'Chevy', 'Ford'], 'Year': [2020, 2015, 2022, 2021], 'Make': [5000, 'E320', 'Tahoe', 'Mustang'], 'Color': ['Black', 'Grey', 'Red', 'Blue']}
      Maker  Year     Make  Color
0      Audi  2020     5000  Black
1  Mercedes  2015     E320   Grey
2     Chevy  2022    Tahoe    Red
3      Ford  2021  Mustang   Blue

In [14]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Rashid1382/pdasummer2022/main/Transformed%20Data%20Set%20-%20Sheet1.csv')
print(df)

   Favorite Color Favorite Music Genre Favorite Beverage Favorite Soft Drink  \
0            Cool                 Rock             Vodka          7UP/Sprite
1         Neutral              Hip hop             Vodka     Coca Cola/Pepsi
2            Warm                 Rock              Wine     Coca Cola/Pepsi
3            Warm     Folk/Traditional           Whiskey               Fanta
4            Cool                 Rock             Vodka     Coca Cola/Pepsi
..            ...                  ...               ...                 ...
61           Cool                 Rock             Vodka     Coca Cola/Pepsi
62           Cool              Hip hop              Beer     Coca Cola/Pepsi
63        Neutral              Hip hop     Doesn't drink               Fanta
64           Cool                 Rock              Wine     Coca Cola/Pepsi
65           Cool           Electronic              Beer     Coca Cola/Pepsi

   Gender
0       F
1       F
2       F
3       F
4       F
..    ...
61      M
62      M
63      M
64      M
65      M

[66 rows x 5 columns]

# New Section

In [10]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt

In [28]:

fig = plt.figure()
ax = fig.add_subplot(20,5)
student = pd.read_csv('https://raw.githubusercontent.com/Rashid1382/pdasummer2022/main/Transformed%20Data%20Set%20-%20Sheet1.csv')
ax.scatter(1,2)
plt.show()

ValueError: ignored